<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Handover to Mechanical</title>
</head>
<body>
  <div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;">
    <h2 style="color: #333;">Task Handed over to {{ department }}</h2>
    <p>A new task has been assigned to your department!</p>
    <p>You can find more details about the task by visiting the following link:</p>
    <p><a href="http://127.0.0.1:8000/jobs/" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px;">Tasks page</a></p>
    <p>If you have any questions about the task, please contact the person who assigned it.</p>
    <p>Best regards,<br>
        Pan Atlantic University Maintenance</p>
  </div>
</body>
</html>